.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.question {
  /* max-width: 580px; */
  text-align: center;
}
.answer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.answer button {
  font-size: 20px;
  padding: 1em;
  margin: 1em;
  border-radius: 1.5em;
  background-color: rgba(var(--foreground-rgb), 0.15);
  color: var(--foreground-rgb);
  border: 1px solid var(--foreground-rgb);
}
.answer button:hover {
  cursor: pointer;
  background: rgba(var(--foreground-rgb), 0.3);
  transition: background 500ms, border 500ms;
}
